body{
    background-color: black;
    margin: 0px;
}

.contenido {
    padding: 10px;
    background-color: rgb(23, 50, 199);
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: solid rgb(255, 183, 15) 7px;
}

.tituloPrincipal{
    margin-left: 10px;
    color: rgb(205, 205, 5);
    font-size: 15px;
    text-align: center;

}

.buscar{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.buscar i{
    font-size: 15px;
    color:  rgb(253, 193, 52);
}

.barraNav{
    width: 150px;
    color: rgb(255, 255, 255);
    background-color: rgb(23, 50, 199);
    border: none;
    border-bottom: solid 1px  rgb(255, 183, 15);
}

.top10{
    height: 380px;
}

.carousel{
    width: 100%;
    height: 100%;
    background-color: aqua;
    background-image: url(../img/padrino.jpg);
    background-position-x: center;
    background-position-y: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.resumenPelicula {
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1) 66%);    color: white;
    font-size: 10px;
    padding: 20px;
    padding-bottom: 2px;
}

.tituloPelicula{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
}

.parrafPelicula{
    font-size: xx-small;
    margin-top: 2px;
    margin-bottom: 10px;
}

.botones button{
    margin-right: 2px;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: rgb(0, 0, 0);
}

i{
    color: rgb(255, 255, 255);
    font-size: 27px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

i:hover{
    color: rgb(255, 183, 15);
}

/* peliculas*/

.seccionPeliculas{
    padding-top: 20px;
    background-color: rgb(0, 0, 0);
}

.seccionPeliculas button{
    flex: 0 0 auto;
    width: auto; 
    height: auto;
    border: none;
    background-color: transparent;
    padding: 3px;
}

.seccionPeliculas div{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.seccionPeliculas button img{
    width: 100px; 
    height: 140px;
    border-radius: 2px;
}
